<div class="pull-right">
  <%= link_to("Add a post", new_post_path, :class => "btn btn-default" ) %>
</div>
<table class="table table-bordered">
  <% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to(post.title, post_path(post)) %>
    </td>
    <td>
      <%= post.created_at %>
    </td>
  </tr>
  <% end %>
</table>
