<div class="wode-page">
  <h3>赵宗昌</h3>
  <p>一个对技术有好奇心，且善于学习，乐于分享的终身学习者。</p>
  <div class="jianjie">
    <h4>个人介绍：</h4>
    <p>
      我是2016年学习Ruby on Rails项目开发的，在此之前我做过两年销售工作，大学专业是食品安全，跟编程专业真是一毛钱关系也没有，想哭。。
      但是不管你学的是什么，你是什么工作，最终的目都是解决生活和工作中的各种问题。
    </p>
    <p>
      解决问题要讲究稳、准、狠，找到适合自己的工具和方法、更重要的是和思维的结合，才能真正的实现高效率。
    </p>
    <p>
      我学习编程就是这么简单，就是为了高效率的解决问题，有意思的是，计算机思维就是用计算机解决问题的思维！！
    </p>
    <p>
       在编程学习中，为了腾出更过的时间我辞去了工作，有幸参加了Ruby on Rails界知名教练Xdite开办的全栈工程师训练营，从零经验开始，
       但现在我独立完成了十几个项目，使用Rails写后端，使用HTML CSS JS写后端，更学到了敏捷项目开发、User Story等。
    </p>
    <p>
      技术源于问题，技术又终于问题，它永远不在某一个地点，问题，一直在路上！！
    </p>

  </div>
  <h4>我的QQ：865567799</h4>
  <h4>我的：<a href="https://github.com/zhaozongchang">Github</a></h4>
</div>
