/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "social-share-button";
 @import url(http://fonts.googleapis.com/css?family=Roboto);


 /***********通用样式开始***********/
 html{
   position: relative;
   min-height: 100%;
   display: block;
 }
 body {
   font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
   background: #E9EAED;
   line-height: 1.5;
   overflow-x: hidden;
   margin-top: 70px;
   margin-bottom: 160px;
   z-index: 999;
 }

  ul, ol, dl{
     list-style: none;
   }

   *{
     margin: 0;
     padding: 0;
   }


 /***************通用样式结束*****************/


 /****** 分享按钮样式 ******/
  $size: 24px;

  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }
  /****** 完成分享按钮样式 ******/



  // ********* navbar开始 *************
  .header-up{
    width: 100%;
    height: 5px;
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  }
  .navbar-default{
    background: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    position: fixed;
    margin-top: -70px;
    z-index: 9991;
  }

  .navbar-header .navbar-brand{
  // color: #FFFFFF;
  font-weight: 600;
  font-size: bolder;
  font-size: 21px;
  padding-left: 135px;

  }
  .collapse{
    padding-right: 14%;
  }

  // ********* navbar结束 *************

  //回到顶部
#gotop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  right: 330px;
  background-color: #5bc0de;//
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 11px;
  cursor: pointer;
  display: none; /*默认先隐藏掉*/
  z-index: 999;
  font-size: 14px;
}

.post-right-1{
  margin-top: 12px;
}
.post-right-2{
  background-color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 5px;
}
.post-right-title{
  line-height: 30px;
  border-bottom: 1px solid #e0e0e0;
  color: #484848;
  font-weight: normal;
}

.post-right-2 span{
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 4px 14px;
  display: inline-block;
  margin-bottom: 15px;
}

.post-right-2 a{
  text-decoration: none;
  color: #5bc0de;
  font-size: 14px;
  // padding: 2px;
}

.post-right-3{
  margin-bottom: 20px;
  background-color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 5px;
}
.post-right-3 .form-group{

}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-top: 100px;
  border-radius: 5px;
}
.header-up{
  width: 100%;
  background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}


/**********底部**********/
   .footer1{
     position:absolute;
     bottom:0px;
     width:100%;
     height:70px;
     background-color: #73777a;
     border-top: #00C1DE 6px solid;
   }

   .footer1 .container{
     margin-top:10px;
     // line-height: 70px;
     color: #fff;
     width: 100%;
   }

   .soc-media-ul{
     display: flex;
     justify-content: center;

   }

   .soc-media-ul a{
     display: inline-block;
     padding: 10px;
     color: #fff;
     border: 2px solid #5bc0de;;
     border-radius: 50%;
   }

   .soc-media-ul li a:hover{
     color: #93F9B9;
   }

/**********底部**********/
