/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "social-share-button";


 /***********通用样式开始***********/
 html{
   position: relative;
   min-height: 100%;
   display: block;
 }
 body {
   font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
   background: #E9EAED;
   line-height: 1.5;
   overflow-x: hidden;
   margin-top: 70px;
   z-index: 999;
 }

  ul, ol, dl{
     list-style: none;
   }

   *{
     margin: 0;
     padding: 0;
   }


 /***************通用样式结束*****************/


 /****** 分享按钮样式 ******/
  $size: 24px;

  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }
  /****** 完成分享按钮样式 ******/


// ********* 搜索开始 *************

  .search-id {
     width: 200px;
     padding-top: 7px;
  }

  .page-wrap {
     margin-top: 50px;//搜索页面距离顶部的距离
  }

  .input-group {
     left: 13px;//搜索栏距离左边距离
  }

  // ********* 搜索结束 *************

  // ********* navbar开始 *************
  .header-up{
    width: 100%;
    height: 5px;
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  }
  .navbar-default{
    background: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    position: fixed;
    margin-top: -70px;
    z-index: 9991;
  }

  .navbar-header .navbar-brand{
  // color: #FFFFFF;
  font-weight: 600;
  font-size: bolder;
  font-size: 21px;
  padding-left: 120px;

  }

  .header-font li{

    color: #FFFFFF;
    text-decoration: none;
  }

  .collapse{
    padding-right: 10%;
  }

  // ********* navbar结束 *************

  //回到顶部
#gotop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgb(25,187,49);//
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 9px;
  cursor: pointer;
  display: none; /*默认先隐藏掉*/
}
